@using POS.Model
@model ColourM
@{
    ViewData["Title"] = "Add Colour";
}


<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="~/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="~/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="~/assets/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
<!-- BS Stepper -->
<link rel="stylesheet" href="~/assets/plugins/bs-stepper/css/bs-stepper.min.css">
<!-- dropzonejs -->
<link rel="stylesheet" href="~/assets/plugins/dropzone/min/dropzone.min.css">


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Colour</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content ">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">Add Colour</h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="col-md-6">

                        <!-- form start -->
                        <form asp-action="Create">
                            <div class="card-body">
                                <div class="form-group">

                                    <div class="input-group my-colorpicker2">

                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <label for="exampleInputEmail1">Colour</label>
                                        <span asp-validation-for="ColourCode" class="text-danger"></span>

                                        <input asp-for="ColourCode"
                                               type="text" class="form-control" placeholder="Colour Code">

                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-square"></i></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->



                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">
                                    <span class="tf-icons fas fa-save"></span>&nbsp; Save
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <span class="tf-icons fas fa-times"></span>&nbsp; Cancel
                                </button>
                                <button class="btn btn-outline-info pull-right" asp-action="Index">
                                    <span class="tf-icons fas fa-list-ul"></span>&nbsp; View List
                                </button>
                            </div>

                        </form>
                    </div>

                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

