@using POS.Model
@model SizeM
@{
    ViewData["Title"] = "Add Size";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Size</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content ">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">Add Size</h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="col-md-6">

                        <!-- form start -->
                        <form asp-action="Create">
                            <div class="card-body">
                                <div class="form-group">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label for="exampleInputEmail1">Size</label>
                                    <span asp-validation-for="Size" class="text-danger"></span>

                                    <input asp-for="Size"
                                           type="text" class="form-control" placeholder="Size">
                                </div>

                            </div>
                            <!-- /.card-body -->



                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">
                                    <span class="tf-icons fas fa-save"></span>&nbsp; Save
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <span class="tf-icons fas fa-times"></span>&nbsp; Cancel
                                </button>
                                <button class="btn btn-outline-info pull-right" asp-action="Index">
                                    <span class="tf-icons fas fa-list-ul"></span>&nbsp; View List
                                </button>
                            </div>

                        </form>
                    </div>

                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>